:root {
    --back: #31345b;
    --lilac: #7c70b5;

/*
hotpink
springgreen
cyan
darkorange
yellow
*/

    box-sizing: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
    min-height: 100%;
    background: var(--back);
    color: white;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: Montserrat;
}

section {
    width: 100%;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#title p {
    width: 50%;
}

@media only screen and (max-width: 768px) {
    #title p {
        width: 70%;
    }
  }

#title button {
    padding: 12px 18px;
    border-radius: 40px;
    background: var(--lilac);
    border: none;
    font-family: Montserrat;
    font-weight: 600;
    margin-top: 16px;
    color: white;
}

#presentation {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#presentation>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#presentation>div h2 {
    width: 80%;
}

#presentation ul {
    padding: 0;
}

@media only screen and (max-width: 768px) {
    #presentation {
        flex-direction: column;
    }
  }

#presentation li {
    list-style: none;
}

#image {
    width: 100%;
    padding: 0;
}

#image {
    display: grid;
    grid-template-columns: 1fr;
    align-items: end;
    justify-items: center;
}

#image img {
    width: 100%;
    object-fit: cover;
    grid-row-start: 1;
    grid-column-start: 1;
    filter: saturate(70%);
}

#image h3 {
    text-decoration: none;
}

.card, .screen {
    grid-row-start: 1;
    grid-column-start: 1;

    display: flex;
    justify-content: center;
    
    width: 50%;
    padding: 0 32px;
    margin-bottom: 32px;
    background-color: rgba(255, 255, 255, .45);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, .25);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    backdrop-filter: blur(15px);
}

.card h3, .screen h2 {
    color: var(--back);
}

.screen {
    width: 20%;
    margin-bottom: 18%;
}

#people {
    display: grid;
    grid-template-columns: 1fr;
    align-items: end;
    justify-items: center;
}

@media only screen and (max-width: 768px) {
    #people {
        display: flex;
        flex-direction: column;
    }

    .screen {
        width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 0;
    }
  }

#people h2 {
    width: 90%;
    font-size: 32px;
    grid-row-start: 1;
    grid-column-start: 1;
}

#people img {
    width: 100%;
    height: auto;
    grid-row-start: 1;
    grid-column-start: 1;
}

#footer a {
    color: #db845f;
    text-decoration: none;
    font-weight: 600;
}

