:root {
    --blue: #1e90ff;
    --white: #ffffff;

/*
hotpink
springgreen
cyan
darkorange
yellow
*/

    box-sizing: inherit;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
    min-height: 100%;
    background: #191970;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: Montserrat;
}

section {
    width: 100%;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#title p {
    width: 50%;
}

#title button {
    padding: 12px 18px;
    border-radius: 40px;
    background: white;
    border: none;
    font-family: Montserrat;
    font-weight: 600;
    margin-top: 16px;
}

#presentation {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#presentation li {
    list-style: none;
}

#image {
    padding: 0;
}

.image {
    display: grid;
    grid-template-columns: 1fr;
    align-items: end;
    justify-items: center;
}

.image img {
    width: 100%;
    object-fit: cover;
    grid-row-start: 1;
    grid-column-start: 1;
}

.image h3 {
    text-decoration: none;
}

.card {
    grid-row-start: 1;
    grid-column-start: 1;
    
    width: 50%;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, .45);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, .25);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    backdrop-filter: blur(15px);
}

#cta p {
    width: 60%;
    font-size: 14px;
}

#footer a {
    color: deepskyblue;
    text-decoration: none;
    font-weight: 600;
}

